# **House Price Predection**

**Importing Libraries**

In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
pre_process = preprocessing.StandardScaler()

**Importing Data**

In [29]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Machine_Learning/USA_Housing.csv')
data.head(2)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."

**Analyzing Data**

Finding for Null values

In [30]:
data.isna().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

Removing Address

In [31]:
data.drop('Address',axis=1,inplace=True)

In [32]:
data.head(5)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

Data to Array

In [33]:
x=data[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population']]
y=data['Price']

Data Trasformation

**Data Splitting**

Splitting for Test and Train

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state= 2)

**Linear Regression**

Importing Libraries

In [35]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

Linear Regression Appplication

In [36]:
lr = LinearRegression()
lr.fit(x_train, y_train)
preds = lr.predict(x_test)

Training set Results

In [37]:
x_test.size

7500

In [38]:
y_test.size

1500

Mean Square Error

In [39]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, lr.predict(x_test))
mse=np.sqrt(mse)
print('Mean_Squared_Error :' ,mse)

Mean_Squared_Error : 99151.77606951752

R value

In [40]:
r_value=lr.score(x_test,y_test)
print('r_square_value :',r_value)

r_square_value : 0.919928795978607